package views

import (
	"fiber-dz/views/components"
	"fiber-dz/views/layout"
	"fiber-dz/views/widgets"
)

templ AddArticle(tags []TagData) {
	@layout.Layout(layout.LayoutProps{
		Title:           "Создание новости",
		MetaDescription: "Просто сайт"})
	<main>
		@layout.Header() {
			for _, tag := range tags {
				@components.Category(tag.Name, tag.Url)
			}
		}
		@widgets.AddNewsForm()
	</main>
	<footer style="margin-top: auto; padding-bottom: 102px;">
		@layout.Copyright()
	</footer>
}
