:root {
    --font-family: "Roboto", sans-serif;
    --h2-font-size: 22px;
    --h2-font-weight: 700;
    --nav-item-font-weight: 500;
    --nav-item-letter-spacing: 0.5px;
    --color-tag: rgba(245, 245, 245, 1.00);
    --color-text: rgba(62, 50, 50, 0.75);
    --color-text-hover: rgba(62, 50, 50, 0.05);
    --color-link: black;
    --color-link-hover: red;

    --color-black-75: rgba(62, 50, 50, 0.75);
    --color-black: rgba(62, 50, 50, 1);
    --color-black-50: rgba(62, 50, 50, 0.5);
    --color-dark: rgba(0, 0, 0, 1);
    --color-dark-75: rgba(0, 0, 0, 0.75);
    --color-white: rgba(255, 255, 255, 1);
    --color-gray: #f5f5f5;
    --color-primary: rgba(248, 21, 57, 1);
    --color-primary-hover: red;
    --color-black-5: rgba(62, 50, 50, 0.05);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-arrow-hover: #555;
    --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --ag-buton-font-size: 14px;
    --ag-buton-font-weight: 500;
    --h3-font-size: 25px;
    --h3-font-weight: 400;
    --h4-font-size: 20px;
    --h4-font-weight: 500;
    --h5-font-size: 16px;
    --h5-font-weight: 500;
    --font-family: "Roboto", sans-serif;
}

/* Добавьте это в ваш styles.css */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
