{{ template "base" . }}


{{ define "title" }}
<title>Main</title>
{{ end }}

{{ define "content" }}
<div
    style="margin: 0 auto; width: 1512px; height: 68px; background-color: rgba(245, 245, 245, 1.00); border-radius: 12px; display: flex; align-items: center; position: relative;">

    <!-- Центрированный блок с тегами -->
    <div style="display: flex; gap: 24px; position: absolute; left: 50%; transform: translateX(-50%);">
        {{ range .Tags }}
        <div
            style="width: 170px; height: 48px; background-color: rgba(0, 0, 0, 0.60); border-radius: 12px; display: flex; align-items: center; justify-content: center;">
            <span
                style="color: white; font-family: Roboto; font-weight: 500; font-size: 16px; text-transform: capitalize;">
                #{{ . }}
            </span>
        </div>
        {{ end }}
    </div>

    <!-- Стрелка вправо -->
    <div style="margin-left: auto; padding-right: 20px;">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
</div>
{{ end }}
