package layout

import "fiber-dz/views/components"

templ RegistrationForm() {
	@RegistrationFormStyle()
	@components.TitleRed("Регистрация")
	<form>
		@components.Input(components.InputProps{Placeholder: "Имя", Name: "name"})
		@components.Input(components.InputProps{Placeholder: "Имя", Name: "name"})
	</form>
}

templ RegistrationFormStyle() {
	<style>
    </style>
}
